/*.log
/*.log.lck
gradle-app.setting
/Sample Debug Text Usage.txt
/ScrapbookofSQLstatements11-2-12
/sqldatausers.csv
/sqldatausersgarfield.csv
/sqldatausersgarfield2.csv
/SwedenTeachersLogData-4-18-12.txt
/.settings/
/.gradle/
/.metadata/
/derbyDB/
/logs/
/sample/
/tugofwar/
/derby (Compu-Diyei's conflicted copy 2012-06-13).log
/derby.log
/bin/
/build/
/buildtutorial.gradle
/HawesServerLog Debug Process.txt
