/Garfield2013Otter-2.log
/Garfield2013Tree-2.log
/Hawes2011-1.log
/Hawes2011-2.log
/Hawes2011-4.log
/Hawes2011-5.log
/HawesServerLog Debug Process.txt
/HawesServerLog0.log
/HawesServerLog0.log.lck
/HawesServerLog1.log
/HawesServerLog10.log
/HawesServerLog11.log
/HawesServerLog12.log
/HawesServerLog13.log
/HawesServerLog14.log
/HawesServerLog15.log
/HawesServerLog16.log
/HawesServerLog17.log
/HawesServerLog18.log
/HawesServerLog19.log
/HawesServerLog2.log
/HawesServerLog20.log
/HawesServerLog21.log
/HawesServerLog22.log
/HawesServerLog23.log
/HawesServerLog24.log
/HawesServerLog25.log
/HawesServerLog26.log
/HawesServerLog27.log
/HawesServerLog28.log
/HawesServerLog29.log
/HawesServerLog3.log
/HawesServerLog30.log
/HawesServerLog31.log
/HawesServerLog32.log
/HawesServerLog33.log
/HawesServerLog34.log
/HawesServerLog35.log
/HawesServerLog36.log
/HawesServerLog38.log
/HawesServerLog39.log
/HawesServerLog4.log
/HawesServerLog40.log
/HawesServerLog41.log
/HawesServerLog42.log
/HawesServerLog43.log
/HawesServerLog44.log
/HawesServerLog45.log
/HawesServerLog46.log
/HawesServerLog47.log
/HawesServerLog48.log
/HawesServerLog49.log
/HawesServerLog5.log
/HawesServerLog50.log
/HawesServerLog51.log
/HawesServerLog52.log
/HawesServerLog53.log
/HawesServerLog54.log
/HawesServerLog55.log
/HawesServerLog56.log
/HawesServerLog57.log
/HawesServerLog6.log
/HawesServerLog7.log
/HawesServerLog8.log
/HawesServerLog9.log
/hs_err_pid20004.log
/Sample Debug Text Usage.txt
/ScrapbookofSQLstatements11-2-12
/sqldatausers.csv
/sqldatausersgarfield.csv
/sqldatausersgarfield2.csv
/SwedenTeachersLogData-4-18-12.txt
/.settings/
/.gradle/
/derbyDB/
/logs/
/sample/
/tugofwar/
/derby (Compu-Diyei's conflicted copy 2012-06-13).log
/derby.log
/bin/
/build/
/buildtutorial.gradle
